<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room booking system</title>
</head>
<body>
<h1>Room booking system</h1>
<div>
    <h2>MENU:</h2>
    <a href="{% url 'all_rooms' %}">ALL ROOMS</a><br>
    <a href="{% url 'new_room' %}">ADD NEW ROOM</a>
</div>
<br>
<footer>
    Author: Dawid Firmowski
</footer>
</body>
</html>