<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new room</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    Room name:
    <input type="text" name="name"><br>
    Room capacity:
    <input type="number" name="capacity"><br>
    Projector availability:
    <input type="checkbox" name="projector">Available
    <br>
    <input type="submit" value="Add new room">
</form>
</body>
</html>